
/*for 2.1 --------------
body{
    display: flex;
}
.persons {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid black;
    margin-right: 10px;
    padding: 10px;
}
*/
/*for 2.2 --------------
.persons2-2{
    width: 500px;
    border: 2px solid grey;
    margin-bottom: 5px;
    padding: 10px;
}
*/

/*for 3.1 --------------*/
/*
img{
    width: 150px;
}
body{
    display: flex;
}
.wrap{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 25%;
}

.product-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    border: 1px solid grey;
}
.product-title {
    display: flex;
    align-self: center;
    margin-top: 10px;

}
*/